{% extends 'back/back.html.twig' %}
{% block body%}


    <h1>Modifier Magasin</h1>
      {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}
   <table>
        <tr>
            <td> {{ form_label(form.nommagasin,"Nom Magasin")}} </td>
            <td>{{ form_widget(form.nommagasin) }}</td>
            <td> {{ form_errors(form.nommagasin) }}</td>

        </tr>

    </table>
    {{ form_end(form) }}
    </div>
{% endblock %}