{% extends 'back/base.html.twig' %}

{% block title %}Stade{% endblock %}

{% block body %}
    <h1>Stade</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ stade.id }}</td>
            </tr>
            <tr>
                <th>Noms</th>
                <td>{{ stade.noms }}</td>
            </tr>
            <tr>
                <th>Capacites</th>
                <td>{{ stade.capacites }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ stade.image }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('stade_index') }}">back to list</a>

    <a href="{{ path('stade_edit', {'id': stade.id}) }}">edit</a>

    {{ include('stade/_delete_form.html.twig') }}
{% endblock %}
