{% extends 'back/base.html.twig' %}
{% block body%}

    <h1> Ajoute Ticket</h1>



    {{ form_start(form, {'attr': {'novalidate':'novalidate'}}) }}



    <table>
        <tr>
            <td> {{ form_label(form.numTicket,"Numéro Ticket ")}} </td>
            <td>{{ form_widget(form.numTicket) }}</td>
            <td> {{ form_errors(form.numTicket) }}</td>

        </tr>
        <tr>
            <td> {{ form_label(form.refMatch,"Réference Match")}} </td>
            <td>{{ form_widget(form.refMatch) }}</td>
            <td> {{ form_errors(form.refMatch) }}</td>

        </tr>
        <tr>
            <td> {{ form_label(form.numPlace,"numero de place ")}} </td>
            <td>{{ form_widget(form.numPlace) }}</td>
            <td> {{ form_errors(form.numPlace) }}</td>

        </tr>
        <tr>
            <td> {{ form_label(form.disp,"Disponibilité ")}} </td>
            <td>{{ form_widget(form.disp) }}</td>
            <td> {{ form_errors(form.disp) }}</td>

        </tr>
    </table>
    {{ form_end(form) }}

    </div>

{% endblock %}