<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form </title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{{ asset('frontsignup/fonts/material-icon/css/material-design-iconic-font.min.css') }}">

    <!-- Main css -->
    <link rel="stylesheet" href="{{ asset('frontsignup/css/style.css') }}">
</head>
<body>

<div class="main">
    <div class="container">
        <div class="signup-content">
            <div class="signup-img">
                <img src="{{ asset('frontsignup/images/st.jpg') }}" alt="">
            </div>
            <div class="signup-form">

                <h2 class="text-center">Stadium Registration Form</h2>
                {% block body%}
                {%endblock%}
                <div class="form-submit">

                    <input type="submit" value="Regiter" class="submit" name="submit" id="submit" />
                </div>



            </div>
        </div>
    </div>

</div>

<!-- JS -->
<script src="{{ asset('frontsignup/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('frontsignup/js/main.js') }}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>