{% extends 'front.html.twig' %}

{% block title %}Hello ArticleController!{% endblock %}

{% block body %}
    <h1>La liste des Articles</h1>
    <table border="1">
        <thead>
        <tr>
            <th>ID</th>
            <th>Ref Article</th>
            <th>Nom Article</th>
            <th>Taille</th>
            <th>Prix</th>



        </tr>
        </thead>
        <tbody>
        {% for article in articles %}
            <tr>

                <td>{{ article.id }}</td>
                <td>{{ article.getRefarticle() }}</td>
                <td>{{ article.getNomarticle() }}</td>
                <td>{{ article.getTaille() }}</td>
                <td>{{ article.getPrix() }}</td>

            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
